$green: rgb(0, 229, 188);
$dark: rgb(27, 27, 31);
$gray: rgb(37, 37, 44);

.bg-dark-color {
    background-color: $dark !important;
}

.bg-gray-color {
    background-color: $gray !important;
}

input.bg-gray-color {
    background-color: $gray !important;
    caret-color: $green;
    border: none;
    outline: none;
}

input.bg-gray-color::placeholder {
    color: white;
}

input.bg-gray-color:focus {
    border: none;
    box-shadow: none;
}

button.primary {
    background-color: $green;
    color: $dark;
    border: none;
    outline: none;
}

button.primary:hover {
    background-color: rgba($green, 0.75) !important;
}

button.primary:active {
    background-color: rgba($green, 0.5) !important;
}

button.primary:focus-visible {
    background-color: rgba($green, 0.75);
    border: none;
    outline: none;
    box-shadow: none;
}

button.bg-gray-color {
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
}

button.bg-gray-color:hover {
    background-color: rgba(228, 228, 228, 0.05) !important;
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
    color: rgba(255, 255, 255, 0.4) !important;
}

button.bg-gray-color:active {
    background-color: rgba(228, 228, 228, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
    color: rgba(255, 255, 255, 0.4) !important;
}

.bg-dark-color-div {
    background-color: rgba($dark, 0.5);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.no-scroll {
    overflow: hidden;
}

.modal-border {
    border: 1px dashed $green;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid $gray;
    border-bottom-color: $green;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.is-loading {
    background: linear-gradient(97deg, $gray 8%, rgba($green, 0.05) 18%, rgba($gray, 0.01) 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

body {
    min-height: 100vh;
}
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}